<?xml version="1.0" encoding="utf-8"?>
<Catalog Title="too">
    <Emoticon File="too_1" Tag="TabCover"/>
    <Emoticon File="too_2" Tag="[234]"/>
    <Emoticon File="too_3" Tag="[235]"/>
    <Emoticon File="too_4" Tag="[236]"/>
    <Emoticon File="tusiji_5" Tag="[23]"/>
    <Emoticon File="tusiji_6" Tag="[24]"/>
    <Emoticon File="tusiji_7" Tag="[25]"/>
</Catalog>