<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.febers.uestc_bbs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- bugly权限 -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:theme, label">
        <activity android:name=".module.search.view.SearchActivity">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.febers.uestc_bbs.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- ++++++++++++++++++++++++++++默认的启动图标+++++++++++++++++++++++++++++++++++++++++++ -->
        <activity android:name=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".icon_gray_circle"
            android:enabled="false"
            android:icon="@drawable/lic_gray_circle"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_gray_square"
            android:enabled="false"
            android:icon="@drawable/lic_gray_square"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_cyan_circle"
            android:enabled="false"
            android:icon="@drawable/lic_cyan_circle"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_cyan_square"
            android:enabled="false"
            android:icon="@drawable/lic_cyan_square"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_teal_circle"
            android:enabled="false"
            android:icon="@drawable/lic_teal_circle"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_teal_square"
            android:enabled="false"
            android:icon="@drawable/lic_teal_square"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_pink_circle"
            android:enabled="false"
            android:icon="@drawable/lic_pink_circle"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_pink_square"
            android:enabled="false"
            android:icon="@drawable/lic_pink_square"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_green_circle"
            android:enabled="false"
            android:icon="@drawable/lic_green_circle"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_green_square"
            android:enabled="false"
            android:icon="@drawable/lic_green_square"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_red_circle"
            android:enabled="false"
            android:icon="@drawable/lic_red_circle"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon_red_square"
            android:enabled="false"
            android:icon="@drawable/lic_red_square"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias> <!-- ++++++++++++++++++++++++++++自定义的启动图标+++++++++++++++++++++++++++++++++++++++++++ -->
        <!-- <activity-alias -->
        <!-- android:name=".icon_blue_square" -->
        <!-- android:enabled="true" -->
        <!-- android:icon="@drawable/lic_blue_square" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:targetActivity=".home.SplashActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity-alias> -->
        <activity-alias
            android:name=".icon_blue_circle"
            android:enabled="false"
            android:icon="@drawable/lic_blue_circle"
            android:label="@string/app_name"
            android:targetActivity=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".home.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".module.user.view.UserDetailActivity" />
        <activity
            android:name=".module.post.view.edit.PostEditActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".module.theme.ThemeActivity" />
        <activity
            android:name=".module.message.view.PMDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name=".module.service.HeartMsgService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".module.user.view.UserPostActivity" /> <!-- <activity android:name=".http.BrowserActivity" /> -->
        <activity android:name=".module.login.view.LoginActivity" />
        <activity
            android:name=".module.post.view.edit.PostReplyActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".module.setting.AboutActivity" />
        <activity android:name=".module.post.view.PListActivity" />
        <activity android:name=".module.setting.SettingActivity" />
        <activity
            android:name=".home.HomeActivity2" />
        <activity android:name=".module.webview.BrowserActivity" />
        <activity android:name=".base.exception.ExceptionActivity" />
        <activity android:name=".module.post.view.PostDetailActivity2"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".module.image.ImageActivity" />
        <activity android:name=".module.setting.AccountActivity" />
        <activity android:name=".module.user.view.UserHistoryActivity" />
    </application>

</manifest>