<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Febers at 18-6-9 上午9:22.
  ~ Copyright (c). All rights reserved.
  ~ Last modified 18-6-9 上午9:21.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.febers.uestc_bbs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".home.HomeActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".module.user.view.UserDetailActivity" />
        <activity android:name=".module.post.view.PostDetailActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".module.post.view.edit.PostEditActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".module.more.ThemeActivity" />
        <activity
            android:name=".module.message.view.PMDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name=".module.service.HeartMsgService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".module.user.view.UserEditActivity" />
        <activity android:name=".module.more.ImageActivity" />
        <activity android:name=".home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.user.view.UserPostActivity" />
        <activity android:name=".module.more.SettingActivity" />
        <activity android:name=".module.more.WebActivity" />
    </application>

</manifest>